html, body, main {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #58595B;
}

.uppercase {
  text-transform: uppercase;
}

.visuallyhidden {
  display: none;
}

.visible {
  display: block;
}

.wrapper { @extend .wrapper-large; }

.wrapper-large {
  @include wrapper(90%);
}

.wrapper-meddium {
  @include wrapper(75%);
}

.wrapper-small {
  @include wrapper(60%);
}

strong {
  font-weight: $bold-font;
}

.row {
  float: left;
  width: 100%;
}

svg {
  width: inherit;
  height: inherit;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.link {
  @extend %link;
}

a {
  color: $primary-color;
}