// COLOR

$primary-color: #1B1E25;

// FONTS

$default-font: 'Droid Sans', sans-serif;
$title-font:   'Droid Serif', serif;

$regular-font: 400;
$bold-font:    700;

$section-title: 44px;

// MEDIA QUERIES

$ipad:              768px;
$ipad--landscape:   1024px;
$iphone:            375px;
$iphone--landscape: 655px;
$notebook:          1366px;

// ORDER INDEX

$level-negative: -1;
$level-1: 1;
$level-2: 10;
$level-3: 20;
$level-4: 30;
$level-5: 40;
$level-6: 50;
$level-7: 60;
$level-8: 70;
$level-9: 80;
$level-10: 90;
