.bt {
  background-color: $primary-color;
  color: #FFF;
  transition: .5s linear;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 3px;
  margin-left: 50%;
  transform: translateX(-50%);

  &:hover {
    transition: .5s linear;
    background-color: $primary-color;
    color: #FFF;
  }
}