<header class="header--little">
        
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="menu">
    <div class="menu__container">
      <a href="http://facebook.com/jeffersondanielss" class="menu__item" target="_blank">facebook /jeffersondanielss</a>
      <a href="http://instagram.com/jeffersondanielss" class="menu__item" target="_blank">instagram /jeffersondanielss</a>
      <a href="http://github.com/jeffersondanielss" class="menu__item" target="_blank">github /jeffersondanielss</a>
      <a href="http://twitter.com/jeffersondss_" class="menu__item" target="_blank">twitter /jeffersondss_</a>
      <a href="/curriculum" class="menu__item">Curriculum</a>
      <a href="#blog" class="menu__item">Blog</a>
    </div>
  </nav>

  <h1>
    <a href="/" class="logo">Jefferson Daniel</a>
  </h1>
</header>