.projects {
  padding: 100px 0 0;
  background: #F5F5F5;
  float: left;
}

  .projects__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
  }

  .project {
    @extend .clearfix;
    margin-bottom: 100px;
    overflow: hidden;
  }

  .project__title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .project__ilustration--left {
    width: 50%;
    float: left;
    height: 300px;
    -webkit-transform: skew(-16deg) translateX(-70px);
    -ms-transform: skew(-16deg) translateX(-70px);
    transform: skew(-16deg) translateX(-70px);
    overflow: hidden;

    img {
      -webkit-transform: skew(16deg) translateX(70px);
      -ms-transform: skew(16deg) translateX(70px);
      transform: skew(16deg) translateX(70px);
    }
  }

  .project__ilustration--right {
    width: 50%;
    float: right;
    height: 300px;
    -webkit-transform: skew(16deg) translateX(70px);
    -ms-transform: skew(16deg) translateX(70px);
    transform: skew(16deg) translateX(70px);
    overflow: hidden;

    img {
      -webkit-transform: skew(-16deg) translateX(-70px);
      -ms-transform: skew(-16deg) translateX(-70px);
      transform: skew(-16deg) translateX(-70px);
    }
  }

  .project__content {
    width: 50%;
    float: left;
    font-size: 18px;
  }

  .project__description {
    line-height: 27px;
  }


  @media screen and ( max-width: $ipad ) {

    .project__ilustration--zipcode,
    .project__ilustration--maps {
      transform: none;
      width: 100%;

      img {
        transform: none;
      }
    }

    .project__content {
      width: 100%;
    }

    .project__title {
      margin-top: 20px
    }

  }